body 
{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #f2f4f8;
}

h2 
{
    color: #333;
    margin-bottom: 5px;
}

p 
{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.board 
{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    margin: 15px 0;
}

.cell 
{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #444;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
}


.cell:hover 
{
    background-color: #e3eafc;
    transform: scale(1.05);
}


.cell.X 
{
    color: #1e88e5; 
}

.cell.O 
{
    color: #e53935; 
}

#status 
{
    color: #222;
    margin-top: 10px;
}
